body {
    background: #090909;
  }
  
.bg-black {
    background: #000;
  }
  
  .card-project:hover {
    border: 1px solid #eee;
    cursor: pointer;
  }


  .btn-purple {
    background-color: #800080;
    border-color: #800080; 
    color: white; /* Color del texto */
    transition: all 0.2s ease;
  }
  
  .btn-purple:hover {
    background-color: #a020f0; 
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
  }